@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#root {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    
}


a {  
    all: unset;
    text-decoration: underline;
}

button {
    all: unset;
    background-color: #663635;
    border-radius: 5px;
    color: #F9F1F0;
    cursor: pointer;
    padding: 0.75rem;
    text-align:center
}

div > button {
    margin: 0.75rem 0 
}


img {
    border-radius: 5px;
    max-height: max(40vh,20rem);
    max-width: 90vw;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.24rem;
    justify-content: space-around;
    max-width: 500px;
    padding: 0.24rem;
    
}

li {
    list-style: none;
    cursor: pointer;
}

p {
    background-color: #E1999F;
    border-radius: 5px;
    border-style: solid;
    font-size: x-large;
    margin: 0 auto;
    max-width: fit-content;
    padding: 1rem;
    
    
}


section > button {
    font-weight: bolder;
    margin-top: 4rem;
    padding: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    transform: translateX(min(25vw,10rem))
    
}

@media (min-width: 992px){
    div.meals {
        display:flex;
    }

    div > button {
        display: block;
        margin: 0.75rem auto;
    }

}








